@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: #121139;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

/* .tradingview-widget-container>iframe:first-of-type, */
/* .tradingview-market-widget-container>div:first-of-type,
.tradingview-calender-widget-container>div:first-of-type,
.tradingview-news-widget-container>div:first-of-type {
  display: none !important;
} */

.tradingview-market-widget-container>div:last-of-type,
.tradingview-calender-widget-container>div:last-of-type,
.tradingview-news-widget-container>div:last-of-type {
  height: 400px;
}